{% extends "base.html" %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  {% include "includes/alert.html" %}
  <div class="container">
    <div class="row">
      {% include "includes/dashboard_sidebar.html" %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Logged in as:</strong>
            <span>{{ user.full_name }}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <!-- Total Orders Card -->
              <div class="col-md-6 d-flex">
                <div class="card w-100 text-center">
                  <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>{{orders_count}}</h4>
                    <a href="{% url "my_orders" %}">View orders</a>
                  </div>
                </div>
              </div>

              <!-- User Info Card -->
              <div class="col-md-6 d-flex">
                <div class="card w-100 p-3">
                  <div class="card-body">
                    <div class="text-center mb-3">
                      <img src="{{userprofile.profile_picture.url}}"
                           alt="Avatar" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <p class="mb-1">Email Address: {{ user.email }}</p>
                    <p class="mb-0">Phone Number: {{ user.phone_number }}</p>
                  </div>
                </div>
              </div>
            </div> <!-- row.// -->
          </div> <!-- card-body .// -->
        </article> <!-- order-group.// --> 
      </main>
    </div> <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
