{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin: 0 auto; width: 70%; padding: 50px; background: #f1f1f1; margin-top: 50px; margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <div class="panel panel-default plain" id="dash_0">
                <div class="panel-body p30">
                    <!-- Invoice Header -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="invoice-logo">
                                <img src="{% static 'images/logo.png' %}" alt="Invoice logo" style="max-height: 40px;">
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <ul class="list-unstyled">
                                <li><strong>Invoiced To</strong></li>
                                <li>{{ order.full_name }}</li>
                                <li>{{ order.full_address }}</li>
                                <li>{{ order.city }}, {{ order.state }}</li>
                                <li>{{ order.country }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="invoice-details well">
                                <ul class="list-unstyled mb0">
                                    <li><strong>Order Number:</strong> {{ order.order_number }}</li>
                                    <li><strong>Transaction ID:</strong> {{ payment.payment_id }}</li>
                                    <li><strong>Order Date:</strong> {{ order.created_at|date:"F d, Y" }}</li>
                                    <li><strong>Status:</strong> {{ payment.status }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Invoice Items Table -->
                    <div class="invoice-items mt-4">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Qty</th>
                                        <th class="text-center">Unit Price</th>
                                        <th class="text-center">Tax</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_detail %}
                                    <tr>
                                        <td>
                                            <strong>{{ item.product.product_name }}</strong>
                                            {% if item.variations.all %}
                                                <br>
                                                <small>
                                                    {% for variation in item.variations.all %}
                                                        {{ variation.variation_category }}: {{ variation.variation_value }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </small>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{ item.quantity }}</td>
                                        <td class="text-center">{{ item.product_price|floatformat:2 }}</td>
                                        <td class="text-center">{{ item.tax|floatformat:2 }}</td>
                                        <td class="text-center">{{ item.total|floatformat:2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4" class="text-right">Subtotal:</th>
                                        <th class="text-center">{{ subtotal|floatformat:2 }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" class="text-right">Total Tax:</th>
                                        <th class="text-center">{{ total_tax|floatformat:2 }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="4" class="text-right">Grand Total:</th>
                                        <th class="text-center">{{ grand_total|floatformat:2 }}</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div> <!-- End panel-body -->
            </div> <!-- End panel -->
        </div> <!-- End col-md-12 -->
    </div> <!-- End row -->
</div> <!-- End container -->
{% endblock %}
